<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travelPlan</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    
    <link rel="stylesheet" href="\static\header.css"/>
    <link rel="stylesheet" href="\static\recTravelPlan.css"/>
</head>
<body onload="initializePage({{places}})">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=639473c2abdc7c1d1c60ce785da265eb&libraries=services,clusterer"></script>
    {{>fragments/header}}
    <div class="travel-plan-container">
        <div class="search-rec-place">
            <!-- <strong>다른 장소 추천 받기</strong> -->
            <div class="travel-plan-search-box">
                <div class="search2">
                    <h5>지역별 검색</h5>
                    <div class="select2_box">
                        <select name="city" class="select" id="citySelect" onchange="updateDistricts()">
                            <option disabled selected>지역 선택</option>
                            <option value="서울특별시">서울특별시</option>
                            <option value="부산광역시">부산광역시</option>
                            <option value="대구광역시">대구광역시</option>
                            <option value="인천광역시">인천광역시</option>
                            <option value="광주광역시">광주광역시</option>
                            <option value="대전광역시">대전광역시</option>
                            <option value="울산광역시">울산광역시</option>
                            <option value="세종특별자치시">세종특별자치시</option>
                            <option value="경기도">경기도</option>
                            <option value="강원특별자치도">강원특별자치도</option>
                            <option value="충청북도">충청북도</option>
                            <option value="충청남도">충청남도</option>
                            <option value="전북특별자치도">전북특별자치도</option>
                            <option value="전라남도">전라남도</option>
                            <option value="경상북도">경상북도</option>
                            <option value="경상남도">경상남도</option>
                            <option value="제주특별자치도">제주특별자치도</option>
                        </select>
                    </div>
                </div>
                <div class="search2">
                    <h5>시군구별 검색</h5>
                    <div class="select2_box">
                        <select name="district" class="select" id="districtSelect">
                            <option disabled selected>구/시 선택</option>
                        </select>
                    </div>
                </div>
                <div class="search2">
                    <h5>테마 확인</h5>
                    <div class="select2_box_theme">
                        <label><input type="checkbox" name="theme" value="레포츠"> 레포츠</label>
                        <label><input type="checkbox" name="theme" value="관광지"> 관광지</label>
                        <label><input type="checkbox" name="theme" value="카페"> 카페</label>
                        <label><input type="checkbox" name="theme" value="베이커리"> 베이커리</label>
                        <label><input type="checkbox" name="theme" value="캠핑장"> 캠핑장</label>
                        <label><input type="checkbox" name="theme" value="물놀이"> 물놀이</label>
                        <label><input type="checkbox" name="theme" value="계곡"> 계곡</label>
                        <label><input type="checkbox" name="theme" value="힐링"> 힐링</label>
                        <label><input type="checkbox" name="theme" value="휴식"> 휴식</label>
                        <label><input type="checkbox" name="theme" value="실내"> 실내</label>
                        <label><input type="checkbox" name="theme" value="실외"> 실외</label>
                    </div>
                </div>
            </div>
            <div class="search3">
                <button onclick="sendToFastAPI(event); return false;">다른 장소 추천 받기</button>
            </div>
        </div>
        <div id="map-list-container">
            <div id="map-container">
                <div id="map">                
                    <button type="button" id="current-loc-btn" onclick="getCurrentLocation()">현재 위치로 이동</button>
                    <button type="button" id="show-all-place-marker" style="top: 30px;">전체 장소 표시</button>
                </div>
            </div>
            <div id="list-container">
                <ul class="list">
                    <h3 style="text-align: center;" id="rec-place-list-title">추천 여행지 리스트</h3>
                    <ul id="place-list" style="height: 480px;"> </ul>                    
                </ul>
            </div>
        </div>    
        <div id="course-container">
            <h3 style="text-align: center;">나의 여행 코스</h3>
            <input type="text" id="course-title" name="course-title" placeholder="여행 코스 제목을 입력해주세요." required>  
            <div id="print-course-title"></div>  
            <ul id="course-list"></ul>
            <div class="btns">
                <!-- <button type="button" onclick="route()" style="float: right;" class="route-btn">길찾기</button> -->
                <button type="button" onclick="onclickPrint()" style="width: 150px;" class="print-btn">인쇄</button>
                <button type="button" onclick="save()" style="width: 150px;" class="save-btn">마이페이지에 저장</button>
            </div>
        </div>        
    </div>

    <script>
        let currentUsername = "{{#username}}{{username}}{{/username}}";
        let path = [];

       

        
        function onclickPrint() {
            if (currentUsername) {
                let coursetitle = document.getElementById('course-title').value;
                if (!coursetitle) {
                    alert("여행 코스 제목을 입력해주세요.");
                } else {
                    window.onbeforeprint = function() {
                        document.getElementById('print-course-title').innerText = coursetitle;

                        $(".header").css("display", "none");
                        $("#map-list-container").css("display", "none");
                        $("#course-container > h3").css("display", "none");
                        $("#course-container").css("margin", "20px 0");
                        $(".search-rec-place").css("display", "none");
                        $("input").css("display", "none");
                        $("#print-course-title").css("display", "block");
                        $("#course-list li").css("margin", "20px");
                        $("#course-list li img").css("display", "block");
                        $("#course-list li img").css("margin", "17px");
                        $('#course-list li p.course-place-address').css("display", "block");
                        $("button").css("display", "none");
                    };

                    window.onafterprint = function() {
                        $(".header").css("display", "block");
                        $("#map-list-container").css("display", "flex");
                        $("#course-container > h3").css("display", "block");
                        $("#course-container").css("margin", "40px 80px");
                        $(".search-rec-place").css("display", "flex");
                        $("input").css("display", "inline-block");
                        $("#print-course-title").css("display", "none");
                        $("#course-list li").css("margin", "10px");
                        $("#course-list li img").css("display", "none");
                        $('#course-list li p.course-place-address').css("display", "none");
                        $("button").css("display", "inline");
                    };

                    window.print();

                }
  
            } else {
                alert("로그인 후 이용할 수 있습니다.");
            }
        }

        async function save() {
            if (currentUsername) {
                let courseListItems = document.querySelectorAll('#course-list li p.course-place-name');
                let courses = Array.from(courseListItems).map(item => item.textContent);
                let coursetitle = document.getElementById('course-title').value;  

                let travelPlan = {
                    coursetitle: coursetitle,
                    courses: JSON.stringify(courses)
                };

                if (!coursetitle) {
                    alert("여행 코스 제목을 입력해주세요.");
                } else if (JSON.stringify(courses).length === 2) {
                    alert("여행 코스에 장소를 추가해주세요.");
                } else {
                    try {
                    const response = await fetch('https://www.petwme.com/api/saveCourses', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(travelPlan)
                    });
                    console.log(travelPlan);
                    const result = await response.text();
                    alert(result);
                } catch (error) {
                    console.error('Error: ', error);
                    alert('저장에 실패했습니다.');
                }
                }
            } else {
                alert("로그인 후 이용할 수 있습니다.");
            };
        }
    </script>
    <script src="\static\function.js"></script>   
    <script src="/static/recTravelPlan.js"></script> 
    <script src="/static/search.js"></script>
    <script src="/static/sendToFastAPI.js"></script>    
</body>
</html>
